h1{
  font-family: black;
  color:black;
}

 h2{
  font-family: verdana;
  color:black;
}

p{
 font-family: verdana;
}

body {
    background-color: <img src="https://pixabay.com/en/photos/?cat=backgrounds">;
}

